.content {

    .container {
        max-width: 800px;
        width: 100%;
        position: relative;
        display: flex;
        padding: 80px 0;
    }

    &__title {
        text-align: center;
        margin-bottom: 40px;
        font-family: "Bonheur Royale", cursive;
        font-size: 44px;
        font-style: italic;
    }

    &__image {
        height: 412px;
        margin-right: 40px;
        border-radius: 8px;
    }

    &__text {
        padding: 10px;
        border: 3px solid rgba(209, 209, 209, 0.508);
        border-radius: 8px;

        p {
            margin-bottom: 16px;
        }
    }
}